/**{
    box-sizing: border-box;
 }*/

.typeahead, .tt-query, .tt-hint 
{
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    outline: medium none;
    direction:rtl;
    float:right !important;
    
   
    
}

.twitter-typeahead {
    width: 100% !important;
    
}
.typeahead {
    background-color: #FFFFFF;
    font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    vertical-align: middle;
}

 .typeahead:focus {
        border: 2px solid #0097CF;
    }

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: transparent;
   width:100% !important;

}

.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   
    direction: rtl;
    float: right;
    width:100%!important;
    left:0% !important;
}

.tt-suggestion {
    font-family: Alef-Regular;
    width: 100% !important;
}

.tt-suggestion:hover {
        cursor: pointer;
        background-color: #0097CF;
        color: #FFFFFF;
 }

.tt-suggestion p {
        margin: 0;
}
.tt-cursor {
    background-color: #0097CF;
}


@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@font-face {
    font-family: Alef-Regular;
    src: url(webfonts/Alef-Regular.ttf);
}
@font-face {
    font-family: Alef-Bold;
    src: url(webfonts/Alef-Bold.ttf);
}

.modal-dialog {
    font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    direction: rtl;
   
    margin-right: 0;
    margin-left: 0;
    overflow-y: initial !important;
    
    
    
}

.modal {
   
    bottom: auto;
    right: auto;
   
}
.modal-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 35px !important;
    background-color: #1a6eb7 !important;
    color: #1a6eb7 !important;
    border-bottom-color: #1a6eb7 !important;
    font-family:Alef;
    /*border-radius:3px !important;*/
}



#OpenLayers {
    font-family: "Alef Hebrew", “Helvetica Neue”, Helvetica, Arial, sans-serif;
    right: 10px;
}
/*מנטרל את האפקט של כהות מתחת למודל*/
/*.modal-backdrop{
    display: none !important;
    
}*/

/*מאפשר להזיז את המפה מתחת למודל*/
.modal body {
     /*pointer-events: none !important;*/
    /*overflow:hidden;*/
    height: 350px !important;
    overflow-y: auto !important;
}

.close {
    color: blue;
    opacity: 1;
}


.buttonmodal {
    padding-top:5px;
    width: 100%;
    border-width: 1.5px;
    border-color: #0097CF;
    background-color:steelblue !important;
    color:black !important;
    border-radius: 5px;
}
.buttonmodalNew{
    width:90%;
    font-family:Alef-Bold;
    font-size:12pt;
    text-align:right;
}
.btnIdentify {
    padding-top:5px;
    width: 100%;
}
.buttonmanagetable {
    width: 100%;
    border-width: 1.5px;
    border-color: #0097CF;
    background-color:aliceblue ;
    color: black !important;
}
.chkmodal {
    width: auto;
    vertical-align: middle;
    /*position: relative;*/
    /*bottom: 1px;*/
}
.chkmodalAll {
    width: auto;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    border-bottom-color:blue;

}
.checkboxlabel {
    /*width: 85%;*/
    padding-right: 5px;
    margin-right: 5px;
    /*background-color: rgb(163,208,228);*/
    /*background-color:#088ccd;*/
    /*border: 1px solid #088ccd;*/
    /*font-weight: 100;*/
    height: 20px !important;
    margin-bottom: 0px !important;
    direction: rtl;
    font-family: Alef-Regular;
    font-size: 14.5px;
    color:rgba(29, 30, 32, 1)
    /*border-bottom-color:black;
    border-bottom-style:solid;
    border-bottom-width:1px;*/
}
.checkboxlabel1 {
    width: 80%;
    padding-right: 40px;
    background-color: rgb(149,219,255);
    border: 0.5px solid black;
    font-weight: 100;
}

/*input[type='checkbox'] {
    width: 10px !important;
    height: 10px !important;
    margin: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 1px solid lightblue;
    box-shadow: none;
    font-size: 2em;
    background-color: blue;
    color: white;
}*/
.selected {
    background-color: rgba(255, 195, 235, 1) !important;
    border: 1px solid grey;
    /* color: #FFF;*/
}
#findAddressTable tr:nth-child(odd) {
    background-color: lightgrey !important;
}
#findAddressTable tr:nth-child(even) {
    background-color: white !important;
}

#findAddressTableMobile tr:nth-child(odd) {
    background-color: lightgrey !important;
}
#findAddressTableMobile tr:nth-child(even) {
    background-color: white !important;
}

#findAddressTable tr {
    border: 1pt solid blue !important;
}
#tbData{
    width:100% !important;
    
}
#tbData  td
{
    border: 1.5pt solid rgb(163,208,228) !important;
    margin:10px!important;
    padding:2px!important;
    background-color: aliceblue;
}
#identifyTable tr td {
   border:1pt solid #088ccd !important;
     /*border-color:#088ccd !important;*/
}
#identifyTable tr:nth-child(2n)
{
    background-color:rgb(163,208,228) !important;
}
#tbinfo tr:nth-child(2n)
{
    background-color:rgb(163,208,228) !important;
}
#tbinfo{
    width:100%!important;
    /*position:absolute !important;*/
    /*top:55px!important;*/
}
#tbinfo tr td
{
    border:1pt solid #088ccd !important;
    
}

#tbinfo tr{
    width:100%!important;
}
#tbinfo td {
    max-width: 50% !important;
}

/*#layerItemsTable tr:nth-child(2n)
{
     /*background-color: lightgray !important;
}*/
#layerItemsTable tr td{
    border:1pt solid #088ccd !important;
    cursor:pointer !important;
}

/*#findAddressTable {
    width: 100% !important;
    
}*/
#findAddressTable  tr
{
    border: 1pt solid black !important;
}

.identifyModalfooterclass {
    font-weight: bold;
}

/*#identifyTable {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}*/
/*#identifyTable tr {
        border: 1px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 5px;
}*/

#layerstable {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}

    #layerstable td {
        border: 1px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 5px;
    }

/*    legend css     */
/*.layers {
    visibility: hidden !important;
}
.embedded-renderer {
    visibility: hidden !important;
}*/

/*.layers .navButton {
    visibility: hidden !important;
}*/
#btnZoomToFullExtent {
    left: 15px !important;
    top: 225px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
    display: none;
}
#scaleDiv {
    left:20px!important;
    bottom:0px!important;
    height:10px!important;
    position: absolute !important;
    background-color:white!important;
}

#btnClear {
    left: 15px !important;
    top: 192px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnMaximiseInfoTable {
    left: 15px !important;
    top: 402px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: none;
    text-align: center;
    padding: 0;
    /*background-color: #fff;*/
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnStreetView {
    left: 15px !important;
    top: 342px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnBuffer {
    left: 15px !important;
    top: 372px !important;
    cursor: pointer;
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}

#btnIdentifyRect {
    left: 15px !important;
    top: 162px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnMeasure {
    left: 15px !important;
    top: 252px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnHeatMap {
    /***/
    
    /*color: #797b81;*/
    left: 15px !important;
    top: 222px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnIdentifyPoint {
    left: 15px !important;
    top: 280px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}

#btnOpenDrawGeometry {
    left: 15px !important;
    top: 282px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnOpenDrawText {
    left: 15px !important;
    top: 312px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
#btnChangeBackground {
    left: 15px !important;
    top: 375px !important;
    /*cursor: pointer;*/
    height: 27px;
    width: 27px;
    display: block;
    text-align: center;
    padding: 0;
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    position: absolute !important;
}
/*נגישות*/
.btn_accessibility {
    /*top: 10px !important;
    height: 30px !important;*/
    /*left:10% !important;*/
    /*height:30px !important;
   position:absolute !important;
   left:10%!important;*/
}

/* check box button*/
.button8 {
    /*margin:4px;*/
    background-color:rgb(210,222,242);
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    height:50px !important;
    width:89px!important;
    margin:1.5px !important;

}
.button8clicked
{
    background-color:rgb(109,176,64);
}
.button9 {
    /*margin:4px;*/
    background-color:rgb(210,222,242);
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    height:50px !important;
    width:120px!important;
    margin:2px !important;

}

/*.modal.right {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
.modal.right  {
		height: 100%;
		overflow-y: auto;
	}*/
.modal.right .modal-body {
		padding: 15px 15px 80px;
	}
.modal.right.fade  {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in  {
		right: 0;
	}
.fa-chevron-down:before {
     /*cursor: pointer;*/
}
.mapi-logo{
    display:none !important;
}
/*.fa-chevron-down:after {
     cursor: pointer;
}
*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: #EEE;
  box-sizing: border-box;
  padding: 12px 18px;
  box-shadow: 0px 4px 7px #777;
  transition: background-color 0.4s ease-out;
}
/*.mapdivclass {
    width: 100%; 
    height: 95%; 
    float:left;
    pointer-events:all;

}*/
.layersDiv{
    visibility:hidden !important;
}
.layers itemNav 
{
    visibility:hidden !important;
}

#navbarTable {
    text-align:right;
    background-color:white!important;
    box-shadow: 0 4px 4px -2px grey !important;
    -moz-box-shadow: 0 4px 4px -2px grey!important;
    -webkit-box-shadow: 0 4px 4px -2px grey !important;
    width:100% !important;
    margin: 0px 0px 3.5px 0px !important;
   
}
#navbarTableDiv
{
    box-shadow: 0 4px 4px -2px grey !important;
    -moz-box-shadow: 0 4px 4px -2px grey !important;
    -webkit-box-shadow: 0 4px 4px -2px grey!important;
    top:0px!important;
}

.modal-open[style] {
    padding-right: 0px !important;
}
body {
    /*pointer-events:auto;*/
    /*padding-right: 0px !important;
    margin-right: 0px !important;*/
}
header {
    /*margin-top: -60px;
    height: 60px;*/
}

footer {
    /*margin-bottom: -10px;
    height: 10px;*/
    /*height: 20px !important;*/
    width: 100% !important;
    bottom: 0px !important;
    z-index: 1000 !important;
    position: absolute !important;
}
.mapdivbig {
    top: 46px !important;
    height: calc(100% - 66px);
    bottom: 10px !important;
    transition: all 1s ease-in-out;
    /*cursor: url('../icons/streetview.cur'), /* Modern browsers    */
    /*url('icons/streetview.cur'),; 
    auto;*/
    /*cursor: url(/icons/streetview.cur), default;*/
    /*transition-property: height;
    transition-delay: 1s;
    transition-duration: 1s;*/
    /*//all 1s ease-in-out*/
}
.mapdivsmall {
    top: 46px !important;
    height: calc(70% - 66px);
    bottom: 10px !important;
    transition: all 1s ease-in-out;
    /*transition-property:height;
    transition-delay:1s;
    transition-duration:1s;*/
}
.rightPanelSmall {
    height: calc(70% - 66px);
    position: fixed;
    width: 0%;
    top: 47px;
    right: 0px;
    
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    z-index: 10;
    font-family: Alef-Regular;
    text-align: right;
    /*transition: width 1s;*/
}
.rightPanelBig {
    position: fixed;
    width: 25%;
    top: 47px;
    right: 0px;
    max-height: calc(100% - 66px);
    
    height: calc(100% - 66px);
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    z-index: 10;
    font-family: Alef-Regular;
    text-align: right;
    /*transition: width 1s;*/
}
.lyrInformationbig {
    position: fixed;
    width: 0%;
    top: 47px;
    right: 0px;
    max-height: calc(100% - 66px);
    overflow-y: auto;
    height: calc(100% - 66px);
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    z-index: 10;
    font-family: Alef-Regular;
    text-align: right;
    /*transition: width 1s;*/
}

.lyrFilterbig {
    position: fixed;
    width: 0%;
    top: 47px;
    right: 0px;
    max-height: calc(100% - 66px);
    /*overflow-y: auto;*/
    height: calc(100% - 66px);
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    z-index: 10;
    font-family: Alef-Regular;
    text-align: right;
    /*transition: width 1s;*/
}

.lyrInformationsmall {
    position: fixed;
    width: 0%;
    top: 47px;
    right: 0px;
    /*max-height: calc(100% - 170px);*/
    overflow-y: auto;
    height: calc(70%-66px);
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    z-index: 10;
    font-family: Alef-Regular;
    text-align: right;
    /*transition: width 1s;*/
}

.dataTablestyle {
    /*max-height: calc(100% - 170px);*/
    background-color: white;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.5px;
    z-index: 10;
    font-family: Alef-Regular;
    text-align: right;
    width: 100%;
    bottom: 20px;
    position: absolute;
    height: 0%;
    /*overflow: auto;*/
    table-layout:fixed;
    
}

#mot {
    right: 20px !important;
    /*height: 10px !important;
    bottom: 0px !important;*/
    position: absolute !important;
}

/*minimize modal*/
.min {
    width: 250px;
    height: 35px;
    
    padding: 0px !important;
    margin: 0px;
    float: left;
    position: static !important;
    }

    
 .min .modal-dialog, .min .modal-content {
        height: 100%;
      
        margin: 0px !important;
        padding: 0px !important;
  }


.min .modal-header {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    /*padding: 3px 5px !important;*/
    
}

.display-none {
    display: none;
}


button .fa {
    font-size: 16px;
    margin-left: 10px;
    }


.min .fa {
    font-size: 14px;
}

.min .menuTab {
    display: none;
}


button:focus {
    outline: none;
}


.minmaxCon {
    
    
}
fieldset {
    padding: .1em .3em .3em !important;
}
hr{
    margin:3px!important;
}
/*#dataTableModalBody {
    overflow: auto !important;
}*/
.btnField {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-bottom: 0.5px solid lightgrey;
    width: 80%;
    outline: none;
    /* border-bottom: 1px solid; */
    /*border: 1px solid black;*/
    background-color: white;
    /*border-radius: 2px;*/
}
.btnSubField {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border-width: 0px; */
    width: 90%;
    border-bottom: 0.5px solid lightgrey;
    outline: none;
    /*border: 0.5px solid black;*/
    background-color: white;
    /*  border-radius: 5px;*/
}


.btnToc {
    width: 100%;
    border-style: none;
    border-width: 0px;
    background-color: white;
    
    height: 30px;
    /*font-weight:300;*/
    text-align: right;
    font-family: Alef-Regular;
    font-size: 1.3vw;
    color: rgba(29, 30, 32, 1);
    letter-spacing: -0.02em;
}
.btnBranch {
    width: 100%;
    border-style: none;
    border-width: 0px;
    background-color: white;
    /*height: 30px;*/
    font-weight:600;
    text-align: right;
    font-family: Alef-Regular;
    font-size: 14.5px;
    color: rgba(29, 30, 32, 1);
    letter-spacing: -0.02em;
    width:102%;
}

.btnCustom {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-width: 0px;
    width: 100%;
    border-bottom: 1px solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    /*border-radius: 4px;*/
}

    .btnCustom:hover,
    .btnCustom:focus,
    .btnCustom.focus {
        text-decoration: none;
    }

    .btnCustom:active,
    .btnCustom.active {
        background-image: none;
    }

    .btnCustom.disabled,
    .btnCustom[disabled],
    fieldset[disabled] .btnCustom {
        cursor: not-allowed;
        /*filter: alpha(opacity=65);*/
        opacity: .65;
    }

/*a.btnCustom.disabled,
fieldset[disabled] a.btnCustom {
    pointer-events: none;
}*/

.numberCircleBranch {
    display: none;
    border-radius: 50%;
    text-align: center;
    /*border: 1px solid;*/
    font-size: 12px;
    font-family: Alef-Regular;
    color: white;
    background-color: rgba(29, 103, 217, 1);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-top:10%;
}

    .numberCircleBranch:before,
    .numberCircleBranch:after {
        content: '\200B';
        display: inline-block;
        line-height: 0px;
        padding-top: 50%;
      /*  padding-bottom: 50%;*/
    }

    .numberCircleBranch:before {
        padding-left: 7px;
    }

    .numberCircleBranch:after {
        padding-right: 7px;
    }



.numberCircle {
    display: none;
    border-radius: 50%;
    text-align: center;
    /*border: 1px solid;*/
    font-size: 12px;
    font-family: Alef-Regular;
    color: white;
    background-color: rgba(29, 103, 217, 1);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-top:10%;
}

    .numberCircle:before,
    .numberCircle:after {
        content: '\200B';
        display: inline-block;
        line-height: 0px;
        padding-top: 50%;
       /* padding-bottom: 50%;*/
    }

    .numberCircle:before {
        padding-left: 7px;
    }

    .numberCircle:after {
        padding-right: 7px;
    }

.numberCirclesmall {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    /*border: 1px solid;*/
    font-size: 12px;
    font-family: Alef-Regular;
    color: white;
    background-color: rgba(29, 103, 217, 1);
    font-weight: bold;
    text-align: center;
   /* vertical-align: middle;*/
    margin-top: 10%;
}

.numberCirclesmall:before,
.numberCirclesmall:after {
    content: '\200B';
    display: inline-block;
    line-height: 0px;
    padding-top: 50%;
   /* padding-bottom: 50%;*/
}

.numberCirclesmall:before {
    padding-left: 7px;
}

.numberCirclesmall:after {
    padding-right: 7px;
}

.scaleinmetersbig {
    bottom: 50px;
    left: calc(100% /2);
    position: fixed;
    text-shadow: 10px 10px 20px white;
    font-weight: 600 !important;
}
.scaleinmeterssmall
{
    bottom:25%;
}

.scaleinmeterssbig {
    bottom: 25%;
   
    
}
/* remove x from text box after typing */
input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}


/*::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}*/
.layers .navButton{
    visibility:hidden !important;
}
#dataTableModalBodyclass {
    width: 100%;
    
}
.arrow_left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
}

.btnStreetViewClose {
    margin-right: 10px;
    font-size: 2em;
    /*padding: .2em .2em;*/
    font-family: sans-serif;
    background-color: white;
    z-index:1000;
    height:30px;
    width:30px;
}


/*.ui-slider .ui-slider-handle {*/
    /*width: 50px;
    height: 50px;*/
    /*background: url(../images/slider_grabber.png) no-repeat;*/
    /*border-radius: 7px;
    background-color: lightgray;
    overflow: hidden;*/
    /*position: absolute;*/
    /*top: -10px;*/
    /*border-style: none;*/
    /*color: aqua;*/
/*}*/
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#drawVisibilitySlider .ui-slider .ui-slider-handle 
{
    background-color :grey;
}
    .ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    border-radius: 9px;
    width: 1.2em;
    z-index: 2;
    /*background-color: white;*/
    border: solid;
    border-width: 1px;
    border-color: gray;
}

#btnHeatMap{
    background:url(/icons/heatpink.png) no-repeat  0 0 ;
    /*background: transparent url("../icons/heatpink54.png") no-repeat 0 0;*/
}
/* remove arrow from option select IE*/
/*select::-ms-expand {
    display: none;
}
select {
    
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}*/
/*select{
    border:none;
    border-width:0px;
    border-color:transparent;
}*/
#googleSVError
{
    margin-right:25%;
    text-align:center;
    width:50%;
}

.GTFSBusOptionsTR_Red
{
    border:5px solid red;
}
.mainToolbarImagesSize
{
    height:calc(1vw)
}
.searchToolbarArrowSize {
    height: calc(0.5vw);
   /* width: calc(0.5vw);*/
}
.searchToolbarmagnifierSize {
    height: calc(0.9vw);
    /* width: calc(0.5vw);*/
}
.closeButtonSize {
    height: calc(1vw);
    width: calc(1vw);
}
.bufferDivToprow {
    background-color: lightgray;
    border-top:1px solid;
}
/*carosel */


.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control {
    width: 8%;
    width: 0px;
}

    .carousel-control.left,
    .carousel-control.right {
        margin-right: 40px;
        margin-left: 32px;
        background-image: none;
        opacity: 1;
    }

    .carousel-control > a > span {
        color: white;
        font-size: 29px !important;
    }

.carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left;
}

.active > div {
    display: none;
}

    .active > div:first-child {
        display: block;
    }

/*xs*/
@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .active.right {
        left: 50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .carousel-col {
        width: 50%;
    }

    .active > div:first-child + div {
        display: block;
    }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .active.right {
        left: 50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .carousel-col {
        width: 50%;
    }

    .active > div:first-child + div {
        display: block;
    }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-inner .active.left {
        left: -33%;
    }

    .carousel-inner .active.right {
        left: 33%;
    }

    .carousel-inner .next {
        left: 33%;
    }

    .carousel-inner .prev {
        left: -33%;
    }

    .carousel-col {
        width: 33%;
    }

    .active > div:first-child + div {
        display: block;
    }

        .active > div:first-child + div + div {
            display: block;
        }
}

/*lg*/
@media (min-width: 1200px) {
    .carousel-inner .active.left {
        left: -25%;
    }

    .carousel-inner .active.right {
        left: 25%;
    }

    .carousel-inner .next {
        left: 25%;
    }

    .carousel-inner .prev {
        left: -25%;
    }

    .carousel-col {
        width: 25%;
    }

    .active > div:first-child + div {
        display: block;
    }

        .active > div:first-child + div + div {
            display: block;
        }

            .active > div:first-child + div + div + div {
                display: block;
            }
}

.block {
    width: 306px;
    height: 230px;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}
.brown{
    background:brown;
}
.purple{
    background:purple;
}


/*carosel */
.slick-prev:before {
    color: grey !important;
    background-color: white;
}

.slick-next:before {
    color: grey !important;
    background-color: white;
}


.slick-prev {
   left: -15% !important;
    
}
.slick-next
{
    right:-8% !important;
}

.measureWrapper {
    top: 0 !important;
    z-index: 3;
    right: 0 !important;
    width: 100% !important;
    padding-bottom: 0 !important;
    box-shadow: none!important;
    border: none !important;
}

/*// mobile design*/
.mobileTR {
    --number-size: 3rem;
    --padding-inline: 2.5rem;
    --padding-block: 0.5rem;
    margin-block: var(--padding-block);
    padding: var(--padding-block) var(--padding-inline);
    background-color: white;
    /* display: grid;*/
    grid-template-columns: auto 1fr;
    grid-auto-flow: dense;
    align-items: center;
    /*border-radius: 10vmax;*/
    /*box-shadow: inset 0.15rem 0.15rem hsl(0 0% 0% / .125), inset 0.5rem 0.5rem 1rem hsl(0 0% 0% / .5), inset -0.15rem -0.15rem hsl(0 0% 100% / .75);*/
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    position: relative;
    isolation: isolate;
    width: 80%;
    height:45px;
}
